node_modules
**/node_modules
**/dist
**/coverage
**/build
.git
.gitignore
*.md
.env
.env.*
!.env.example
.vscode
.idea
*.log
.temp
.tmp
test
**/*.spec.ts
apps/frontend/docker-compose.yml
apps/backend/docker-compose.yml
packages
