node_modules
**/node_modules
**/dist
**/coverage
**/build
**/*.tsbuildinfo
.git
.gitignore
*.md
.env
.env.*
!.env.example
.vscode
.idea
*.log
.temp
.tmp
apps/backend/test
**/*.spec.ts
**/*.test.ts
**/*.test.tsx
apps/frontend/docker-compose.yml
apps/backend/docker-compose.yml
